:root {
  --primary: #EBF8FF;
  --secondary: #0A64EE;
  --accent: #A2A2A2;
  --light-gray: oklch(92.8% 0.006 264.531);
  --light-green: oklch(92.5% 0.084 155.995);
  --light-red: oklch(88.5% 0.062 18.334);
  --light-blue: oklch(88.2% 0.059 254.128);
}

/* DM SANS */

@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Light.woff') format('woff'),
         url('/assets/fonts/woff2/DMSans_Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Regular.woff') format('woff'),
         url('/assets/fonts/woff2/DMSans_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Medium.woff') format('woff'),
    url('/assets/fonts/woff2/DMSans_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/woff/DMSans_Bold.woff') format('woff'),
    url('/assets/fonts/woff2/DMSans_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }



.fc {
  font-family: 'DM Sans';
}

.fc-toolbar-title {
  font-family: 'DM Sans';
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.1rem !important;
}

.fc-button {
  background-color: var(--secondary) !important;
  border: none !important;
}

.fc-button:hover {
  background-color: var(--accent) !important;
  transition: 0.3s ease-in-out;
}

.fc-day-today {
  background-color: transparent !important;
}

.fc-today-button {
  background-color: rgba(0,0,0,1) !important;
  color: white !important;
}

.fc-today-button:hover {
  background-color: var(--accent) !important;
}

.fc .fc-timegrid {
  border: none;
}

.fc .fc-timegrid .fc-timegrid-slot-label {
  border-bottom: none;
}

.fc .fc-timegrid .fc-timegrid-slots table tbody tr:nth-child(even) {
  border: 1px dashed --accent;
}

.fc-event.status-upcoming { background-color: var(--light-gray) !important; }
.fc-event.status-ongoing { background-color: var(--light-blue) !important; }
.fc-event.status-completed { background-color: var(--light-green) !important; }
.fc-event.status-cancelled { background-color: var(--light-green) !important; }

@media screen and (max-width: 448px) {
  .fc .fc-view-harness {
    overflow-x: auto;
  }

  .fc .fc-scrollgrid {
    min-width: 800px;
    overflow-x: auto;
  }
}
